header{
    background-color: #BBBBBB;/* fonda header */
    padding: 20px 0;/* espaciamientos */
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto ;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;/* mostrar en una sola linea */
    margin: 0 0 0 15px ;/* espaciamiento lateral entre items de la lista */
}
nav a{
    text-transform: uppercase; /* mayus */
    color: #000000;
    font-weight: bold; /* colocar en negrita */
    font-size: 22px; /* tamaño */
    text-decoration: none;/* quitar el subrayado */
}
nav a:hover{color: #c78c19;
             text-decoration: underline;}          /* capturar el movimiento */



.productos{
    width: 940px; /* queremos que ocupe ese tamaño */
    margin: 0 auto;/* espacios laterales automaticos */
    padding: 50px;
}
.productos li{
    display: inline-block;/* poner de forma horizontal  */
    text-align: center;
    width: 30%; /* cada elemento ocupar el 30% */
    vertical-align: top;
    margin: 0 1.5%; /* margen a cada elemento */
    padding: 30px 20px;
    box-sizing: border-box;/* borde de cada uno para que no halla salto de linea*/
    border-width: 2px; /* tamaño del borde */
    border-color: #000000;/* caracteristicas del borde */
    border-style: solid;
    border-radius: 10px;

}
.productos li:hover{
    border-color: #c78c19;
}
.productos li:active{
    border-color: green; /* volver verde el recuadro con un clic */

}
.productos li:hover h2{
    font-size: 33px; /* aumentar el tamaño cuando nos posisionamos en el elemento */

}

.productos h2{
    font-size: 30px; /* caracteristicas del texto */
    font-weight: bold;
    text-align: center;
}



.produto-descripcion{
 font-size: 18px;
}
.producto-precio{
font-size: 20px;
font-weight: bold;
margin-top: 10px;
}
footer{
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 5%;
}
main{ /*  etiqueta existente en el sistema*/
    width: 940px; /* para centralizar algo */
    margin: 0 auto;
}
form{
    margin: 40px 0;
}

form label{
    display: block;  /* formato vertical */
    font-size: 20px;
    margin: 0 0 10px;
}
form input{
    display: block; /* formato verticula */
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 20%;
}
